

body{
    background-color: rgb(56, 56, 56);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0; 
    text-align: center;
}

header {
    background-color: rgb(8, 22, 151);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #ffffff;
    color: rgb(8, 22, 151);
  }
  

.container {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #646464;
    border-radius: 5px;
    padding: 20px;
    margin-top: 24px;
    box-shadow: 10px 13px 29px 3px rgba(102, 100, 100, 0.75);
    background-color: bisque;
}


#cabecera {
    color: #ffffff;
    background-color: rgb(8, 22, 151);
    height: 20px;
    padding: 4px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav img {
    height: 40px;
    margin-right: 10px;
  }

#cabecera h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


p {
    text-align: left;
    font-family: 'Arial', Courier, monospace, Helvetica, sans-serif;
}

footer {
    background-color: rgb(8, 22, 151);
    color: #fff;
    padding: 20px;
    margin-top: 24px;
    border-radius: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
